@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Gilroy-ExtraBold';
	src: url('../../../public/fonts/Gilroy-ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../../../public/fonts/Gilroy-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('../../../public/fonts/Gilroy-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../../../public/fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	transition: all 1s linear;
}

body {
	font-family: 'Gilroy-Medium', Arial, Helvetica, sans-serif;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
}

h1,
h2 {
	font-family: 'Gilroy-ExtraBold';
}

h4,
h3 {
	font-family: 'Gilroy-Bold';
}
h5,
h6 {
	font-family: 'Gilroy-SemiBold';
}

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
	background: #ffe3e1;
}

::-webkit-scrollbar-thumb {
	background: #e20f00;
	-webkit-border-radius: 1rem;
}

::-webkit-scrollbar-corner {
	background: #ffe3e1;
}

/* main {
	flex: 1;
} */

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
